/* RESETS */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comfortaa:wght@300&family=Inspiration&family=Play&family=Source+Code+Pro:wght@200;300;400&family=Trispace:wght@100&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    font-weight: normal;
    color: white
} 

body, html {
    height: 100%;
    background-color: black;
}

/* GLOBAL CLASSES */
.flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    margin: auto;
    justify-content: center;
    align-items: center;

}

/* CUSTOM STYLES */
header {
    display: flex;
    justify-content: space-between;
    margin:15px 2%;

}

header p {
    text-decoration: none;
    font-weight: bold;
    color: yellowgreen;
}

header #timer {
    justify-self: flex-end;
}

#question {
    margin-top: 7%;
    padding: 5%;
    border: 2px solid turquoise;
    border-radius: 5px;
}

ul { 
    padding-top: 100px;
}

ul li {
    list-style-type: none;
    margin-top: 5px;
    font-size: 30px;
    padding: 18px;
    border-bottom: 2px solid yellowgreen;
    border-radius: 50px;
    transition: .222s;
    
}

ul li:hover {
    background: yellowgreen;
}
