/* RESETS */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comfortaa:wght@300&family=Inspiration&family=Play&family=Source+Code+Pro:wght@200;300;400&family=Trispace:wght@100&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    font-weight: normal;
    color: white
} 

body, html {
    height: 100%;
    background-color: black;
}

/* GLOBAL CLASSES */
.column {
    flex-direction: column;
}

.center {
    margin: auto;
    justify-content: center;
}

.hidden {
    display: none;
}

/* CUSTOM STYES */
header {
    display: flex;
    justify-content: space-between;
    margin:15px 2%;

}

header p {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 90, 236);
}

main.start-page {
    display: flex;
    max-width: 800px;
    margin: auto;
    margin-top: 13%;
    padding: 15px;
}

main.startpage h1,h2 {
    padding: 25px;
}

button#start, button#leaderboard, button#submit {
    width: fit-content;
    font-size: 14px;
    margin: auto;
    padding: 5px 10px;
    margin-top: 15px;
    color: white;
    border: none;
    background-color: black;
    border-bottom:#d5f438 solid 2px;
    border-radius: 15px;
    transition: .222s;
}

.btn-hover:hover {
    background-color: #b0d204;
    box-shadow: 1px 1px 60px 12px #d5f438;
    cursor: pointer;
}